body {
    background-color: lightgray;
    color: black;
}
.curriculum {
    font-family: "Roboto" , sans-serif;
}

h1  {
    color: navy;
}

h2 {
    color: teal;
}

a {
    color: darkgreen;
    text-decoration: underline;
}
a:hover {
    color: darkred;
    background-color: lightyellow;
}

.destacado {
    background-color: lightyellow;
}

#nombre {
    color: darkred;
}
li:first-child {
    color: darkred;
}

li:last-child {
    color: darkgreen;
}

#fortaleses > li {
    background-color: lightyellow;
}

#nombre::before {
    content: "★ ";
    color: goldenrod;
}

#nombre::after {
    content: " ★";
    color: goldenrod;
}